audioread==2.1.4
cycler==0.10.0
Cython==0.25.1
decorator==4.0.10
joblib==0.10.3
librosa==0.4.3
matplotlib==1.5.3
numpy==1.11.2
PyAudio==0.2.9
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
resampy==0.1.4
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
